*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all 500ms ease;
}

body {
    padding: 0;
    margin: 0;
    overflow: auto;
}

:root {
    --black: #000;
    --black-s: #000000bb;
    --white: #fff;
    --smoke: #c0c0c0;
    --grey: #cccccc;
    --pb-blue: #0082b5;
    --pb-green: #00cf2d;
    --pb-red: #f91212;
    --pb-orange: #ff8400;
    --bg-dark-blue: #000721d0;
}

.navbar {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--black);
    z-index: 100;
}

.navbar .wrapper {
    position: relative;
    width: 100%;
    display: flex;
    padding: 10px;
}

.navbar .wrapper .left {
    width: 100%;
    flex: 1;
    vertical-align: middle;
}

.navbar .wrapper .left a {
    text-decoration: none;
    font-weight: normal;
    font-size: 17px;
   
}

.navbar .wrapper .left a img {
    position: absolute;
    display: inline;
    width: 200px;
    height: 120px;
    top: -25px;
}

.navbar .wrapper .right {
    flex: 2;
    display: flex;
    margin: 4px;
}

.navbar .wrapper .right ul {
    display: inline-flex;
    width: 100%;
}

.navbar .wrapper .right ul li {
    list-style-type: none;
    margin-left: 20px;
}

.navbar .wrapper .right ul li a {
    text-decoration: none;
    color: var(--white);
    text-transform: uppercase;
}
.navbar .wrapper .right ul li a:hover {
    color: #f91212;
}

.navbar .wrapper .right ul li.donateBtn a {
    padding: 10px;
    background: var(--pb-red);
} 
.navbar .wrapper .right ul li.donateBtn a:hover {
    color: var(--white);
    background: transparent;
    border: 1px solid var(--pb-red);
}

/* container */
.container {
    position: relative;
    background: var(--white);
    width: 100%;
    height: 100vh;
    top: 75px;
    z-index: 99;
}

.container .wrapper {
    width: 100%;
}

.container .wrapper img {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    margin: auto;
}

.container .wrapper .content {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--bg-dark-blue);
    z-index: 90;
}

.container .wrapper .content h2 {
    position: relative;
    display: block;
    max-width: 40%;
    padding: 10px;
    font-weight: bolder;
    margin-top: 100px;
    left: 50px;
    font-size: 25px;
    color: var(--white);
    line-height: 40px;
}

.container .wrapper .content h2 b {
    color: var(--pb-red);
}

.container .wrapper .content h2 span.g-o {
    column-rule: var(--pb-red);
}

.container .wrapper .content p {
    position: relative;
    display: block;
    max-width: 40%;
    padding: 10px;
    left: 50px;
    color: var(--smoke);
    font-weight: normal;
    font-size: 18px;
}

.container .wrapper .content .btn-group {
    position: relative;
    display: block;
    width: 190px;
    left: 50px;
    text-align: center;
}
.container .wrapper .content .btn-group a {
    position: relative;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #f91212;
    color: var(--white);
    font-weight: normal;
    letter-spacing: 0.1em;
    cursor: pointer;
}

.container .wrapper .content .btn-group a:hover {
    background: #f91212;
}

/* NavTrigger */
.navTrigger{
    position: fixed;
    display: block;
    top: 20px;
    right: 20px;
    background: #e90404;
    z-index: 999;
}

.navTrigger .wrapper {
    position: inherit;
    padding: 10px;
    border-radius: 50%;
}

.navTrigger .wrapper span {
    width: 90%;
    height: 2%;
    background: var(--grey);
    margin-top: 5px;
}


/* Chat Bot */
.chatbot {
    position: fixed;
    display: block;
    right: 50px;
    bottom: 90px;
    background: var(--pb-red);
    color: var(--white);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
    
}
.chatbot .wrapper{
    padding: 15px;
    text-align: center;
    justify-content: center;
}
.chatbot .wrapper span {
    font-size: 18px;
    font-weight: bold;
}


/* Mobile Responsiveness for Navbar starts here */
@media only screen and (max-width: 900px)
{
    .navbar {
        position: fixed;
        display: flex;
        width: 100%;
        padding: 30px;
        background: #00111c;
    }

    .navbar .wrapper .right{
        display: none;
    }
  

   

}













/* Mobile Responsiveness for Landing Page Starts Here */