*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all 500ms ease;
}

body {
    padding: 0;
    margin: 0;
    overflow: auto;
}

:root {
    --black: #000;
    --black-s: #000000bb;
    --white: #fff;
    --smoke: #c0c0c0;
    --grey: #cccccc;
    --pb-blue: #0082b5;
    --pb-green: #00cf2d;
    --pb-red: #f91212;
    --pb-orange: #ff8400;
    --bg-dark-blue: #000721d0;
}

.navbar {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--black);
    z-index: 100;
}

.navbar .wrapper {
    position: relative;
    width: 100%;
    display: flex;
    padding: 20px;
}

.navbar .wrapper .left {
    width: 100%;
    flex: 1;
    vertical-align: middle;
}

.navbar .wrapper .left a {
    text-decoration: none;
    font-weight: normal;
    font-size: 17px;
}

.navbar .wrapper .left a img {
    position: absolute;
    display: inline;
    width: 200px;
    height: 120px;
    margin-top: -45px;
}

.navbar .wrapper .right {
    flex: 2;
    display: flex;
    margin: 4px;
}

.navbar .wrapper .right ul {
    display: inline-flex;
    width: 100%;
}

.navbar .wrapper .right ul li {
    list-style-type: none;
    margin-left: 20px;
}

.navbar .wrapper .right ul li a {
    text-decoration: none;
    color: var(--white);
    text-transform: uppercase;
}
.navbar .wrapper .right ul li a:hover {
    color: #f91212;
}

.navbar .wrapper .right ul li.donateBtn a {
    padding: 10px;
    background: var(--pb-red);
} 
.navbar .wrapper .right ul li.donateBtn a:hover {
    color: var(--white);
    background: transparent;
    border: 1px solid var(--pb-red);
}

/* container */
.container {
    position: relative;
    background: var(--white);
    width: 100%;
    height: 100vh;
    /* top: 75px; */
    z-index: 99;
}

.container .wrapper {
    width: 100%;
}

.container .wrapper img {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    margin: auto;
}

.container .wrapper .content {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--bg-dark-blue);
    z-index: 90;
}

.container .wrapper .content h2 {
    position: relative;
    display: block;
    max-width: 40%;
    padding: 10px;
    font-weight: bolder;
    margin-top: 100px;
    left: 50px;
    font-size: 25px;
    color: var(--white);
    line-height: 40px;
}

.container .wrapper .content h2 b {
    color: var(--pb-red);
}

.container .wrapper .content h2 span.g-o {
    column-rule: var(--pb-red);
}

.container .wrapper .content p {
    position: relative;
    display: block;
    max-width: 40%;
    padding: 10px;
    left: 50px;
    color: var(--smoke);
    font-weight: normal;
    font-size: 18px;
}

.container .wrapper .content .btn-group {
    position: relative;
    display: block;
    width: 190px;
    left: 50px;
    text-align: center;
}
.container .wrapper .content .btn-group a {
    position: relative;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #f91212;
    color: var(--white);
    font-weight: normal;
    letter-spacing: 0.1em;
    cursor: pointer;
}

.container .wrapper .content .btn-group a:hover {
    background: #f91212;
}

/* NavTrigger */
.navTrigger{
    position: fixed;
    display: block;
    top: 20px;
    right: 20px;
    background: #e90404;
    z-index: 999;
}

.navTrigger .wrapper {
    position: inherit;
    padding: 10px;
    border-radius: 50%;
}

.navTrigger .wrapper span {
    width: 90%;
    height: 2%;
    background: var(--grey);
    margin-top: 5px;
}


/* Chat Bot */
.chatbot {
    position: fixed;
    display: block;
    right: 50px;
    bottom: 90px;
    background: var(--pb-red);
    color: var(--white);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
    
}
.chatbot .wrapper{
    padding: 15px;
    text-align: center;
    justify-content: center;
}
.chatbot .wrapper span {
    font-size: 18px;
    font-weight: bold;
}






* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    transition: all .2s linear;
}

.container_ {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #f0f0f0;
}

.container_ .head {
    position: absolute;
    display: flex;
    width: 100%;
    top: 110%;
    z-index: 99;
    text-align: center;
    justify-content: center;
}

.container_ .head h4 {
    padding: 10px;
    font-size: 35px;
}

.card {
    height: 400px;
    width: 300px;
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    padding-top: 80px;
    margin: 20px;
    text-align: center;
    letter-spacing: 1px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.container_ .card h3 {
    font-size: 26px;
    padding: 35px 0;
    color: #333;
}

.container_ .card p {
    font-size: 15px;
    color: #777;
}

.container_ .card button {
    outline: none;
    border: none;
    background: #333;
    color: #fff;
    height: 35px;
    width: 140px;
    margin-top: 30px;
    font-size: 17px;
    cursor: pointer;
    border-radius: 50px;
}
.container_ .card button:hover {
    letter-spacing: 2px;
    opacity: .8;
}

.container_ .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: rgba(160, 160, 160, .1);
    z-index: -1;
}

.container_ .card::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #e74c3c;
    z-index: -2;
    clip-path: circle(20% at 90% 10%);
}

.container_ .card .number {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 50px;
    font-weight: bolder;
    color: #fff;
}

.container_ .card:nth-child(2)::after {
    background: #3498db;
}

.container_ .card:nth-child(3)::after {
    background: #2ecc71;
}

.container_ .card:hover::after {
    clip-path: circle(100%);
}

.container_ .card:hover h3{
    color: #fff;
}

.container_ .card:hover p{
    color: #f0f0f0;
}

.container_ .card:hover button{
    color: #333;
    background: #fff;
}

.container_ .card:hover::before {
    background: rgba(0, 0, 0, .1);
}















/* Mobile Responsiveness for Navbar starts here */
@media only screen and (max-width: 900px)
{
    .navbar {
        position: fixed;
        display: flex;
        width: 100%;
        padding: 30px;
        background: #00111c;
    }

    .navbar .wrapper .right{
        display: none;
    }
  

   

}













/* Mobile Responsiveness for Landing Page Starts Here */